{% extends 'M2LPagesBundle::layout.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            
            <h2>Liste des notes de frais</h2>
            
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'M2LPagesBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
            
            </br><table class="table table-striped table-bordered" cellspacing="0" width="100%">
                {% for frais in listFrais %}
                    <tr>
                        <td><p>Trajet</p></td>
                        <td><p>Motif</p></td>
                        <td><p>Kilomètres parcourus</p></td>
                        <td><p>Coût trajet</p></td>
                        <td><p>Coût péage</p></td>
                        <td><p>Coût repas</p></td>
                        <td><p>Coût hébergement</p></td>
                        <td><p>Date saisie</p></td>
                        <td><p>Modifier frais</p></td>
                        <td><p>Supprimer frais</p></td>
                    </tr>
                    <tr>
                        <td>{{ frais.trajet }} </td>
                        <td>{{ frais.motif }} </td>
                        <td>{{ frais.km }} km </td>
                        <td>{{ frais.cout }} € </td>
                        <td>{{ frais.peage }} € </td>
                        <td>{{ frais.repas }} € </td>
                        <td>{{ frais.heberg }} € </td>
                        <td>{{ frais.createdAt|date('d/m/Y') }} </td>
                        <td><a class="link" href="{{ path('m2l_pages_frais_edit', {'id': frais.id}) }}"><img alt="" src="{{ asset('bundles/m2lpages/img/edit.png') }}" /></a></td>
                        <td><a class="link" href="{{ path('m2l_pages_frais_delete', {'id': frais.id}) }}"><img alt="" src="{{ asset('bundles/m2lpages/img/delete.png') }}" /></a></td>
                    </tr>
                {% endfor %}
            </table>
            
            </br><a class="link" href="{{ path('m2l_pages_frais_add') }}">Saisir une nouvelle note de frais</a>
   
        </div>
    </div>

{% endblock %}