{% extends 'M2LPagesBundle::layout.html.twig' %}

{% block body %}
    
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'M2LPagesBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="jumbotron">
        <div class="container">
            
            <h2>Liste note de frais</h2>
            
            <table id="list" class="table table-striped table-bordered" cellspacing="0" width="100%"> 
                <thead> 
                    <tr> 
                        <th>Frais trajet</th> 
                        <th>Kilomètres parcourus</th>
                        <th>Frais péage</th> 
                        <th>Frais repas</th> 
                        <th>Frais hébergement</th>
                        <th>Date de saisie</th>
                    </tr> 
                </thead> 
                <tbody>
                </tbody>
            </table> 
            
            </br><a class="link" href="{{ path('m2l_pages_frais') }}">Saisir note de frais</a>
   
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }} 
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script> 
<script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script> 
<script>
    $(function ()
    {
        $('#list').DataTable({
            "processing": true,
            "serverSide": true,
            "scrollX": true,
            "scrollCollapse": true,
            "paging":   false,
            "ordering": false,
            "info":     false,
            "ajax": "{{ path('m2l_list_frais') }}",
            "sAjaxDataProp": "data",
            "pageLength": 10,
            "columns": [
                {"data": "trajet"},
                {"data": "km"},
                {"data": "peage"},
                {"data": "repas"},
                {"data": "heberg"},
                {"data": "createdAt"}
            ],
            "order": [[1, 'asc']]
        });
    });
</script>

{% endblock %}
